@import url("theme.css");
// body
body {
    background-color: #f2f2f2;
}

// Navbar
.main-navbar {
    background-color: #363636;
    .navbar-toggler {
        outline: 0px;
        color: white;
    }
    .navbar-brand {
        font-family: "Jomolhari", serif;
        color: #f5f7fa;
    }
    .navbar-toggler {
        border-color: #ddd;
    }
    .nav-link {
        font-size: 0.8rem;
        color: #f5f7fa;
        text-indent: 12px;
    }
    .nav-link:hover {
        color: #da4453;
        transition: 0.3s;
    }
    .dropdown-item {
        font-size: 13px;
        margin-top: 10px;
    }
    .dropdown-item:hover {
        color: #da4453;
        transition: 0.3s;
    }
    .dropdown-divide {
        border: 10px solid #f2f2f2;
    }
}

// Download Section
.download-main {
    background-color: white;
    .download-section {
        font-size: 1.3rem;
        color: red;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: white;
        .download-p {
            padding-left: 3%;
            padding-top: 1%;
        }
    }
}

// First-col
.first-col {
    margin-top: 3%;
    .first-img {
        width: 100%;
    }
    .first-img:hover {
        opacity: 0.8;
        transition: 0.5s;
    }
    .first {
        background-color: white;
        margin-bottom: 7%;
        .components {
            padding-left: 6%;
            padding-right: 8%;
            color: #6b6b6b;
            .main-p {
                padding-top: 3%;
                font-weight: bold;
                font-size: 180%;
                font-family: "Nunito", sans-serif;
                line-height: 2rem;
                .main-a {
                    color: rgb(82, 81, 81);
                    text-decoration: none;
                }
                .main-a:hover {
                    color: #dc3545;
                    transition: 0.5s;
                }
            }
            .lorem {
                font-family: "Jomolhari", serif;
            }
            .data {
                display: flex;
                flex-direction: row;
                font-family: "Jomolhari", serif;
                font-size: 14px;
                text-indent: 4.65px;
            }
            .ad-component {
                font-size: 14px;
            }
        }
        .button {
            width: 25%;
            margin-left: 70%;
            margin-right: 2%;
            margin-top: 18px;
            margin-bottom: 40px;
        }
    }
}

// Second-col
.second-col {
    margin-top: 3%;
    padding: 30px;
    border: 1px solid #dadada;
    background-color: white;
    height: 100%;
    // Icons
    #icons {
        margin-top: -2%;
        margin-bottom: 45px;
        .sub-icons {
            color: #c1c0c0;
            font-size: 45px;
            padding-right: 5px;
        }
        #twitter:hover {
            color: #58bcf7;
            transition: 0.7s;
        }
        #facebook:hover {
            color: #135c97;
            transition: 0.7s;
        }
        #youtube:hover {
            color: #eb2525;
            transition: 0.7s;
        }
        #google-plus:hover {
            color: #f10909;
            transition: 0.7s;
        }
        #github:hover {
            color: #337ab7;
            transition: 0.7s;
        }
    }
    // Posts
    #posts {
        .sub-posts {
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
            .link-photos {
                .posts-photo {
                    border-radius: 4px;
                }
            }
            .link-photos:hover {
                opacity: 0.8;
                transition: 0.5s;
            }
            .sub-posts-content {
                margin-left: 23px;
                padding-right: 5px;
                .content-link {
                    font-family: "Open Sans", sans-serif;
                    display: block;
                    font-size: 15px;
                    margin-bottom: -4px;
                    color: #dc3545;
                }
                .content-link:hover {
                    color: grey;
                    text-decoration: none;
                    transition: 0.8s;
                }
                .post-data {
                    color: rgb(172, 169, 169);
                    font-size: 12px;
                }
            }
        }
    }
    // Categories 1
    #categories {
        margin-bottom: 60px;
        .categories-contents {
            font-size: 13px;
            font-family: "Open Sans", sans-serif;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: #c1c0c0;
            .categorie-link {
                color: #c1c0c0;
            }
            .categorie-link:hover {
                color: #dc3545;
                text-decoration: none;
                transition: 0.5s;
            }
        }
        .categorie-line {
            color: #c1c0c0;
            margin-top: 5px;
            border-top: dotted 1px;
        }
    }
    // Search
    #search {
        margin-bottom: 40px;
        .search-topic {
            margin-bottom: 60px;
        }
        .input-search {
            border-radius: 1px;
            padding-left: 3px;
            width: 80%;
        }
        .search-button {
            border-radius: 4px;
            width: 15%;
            height: 37px;
            border: transparent;
            color: white;
            background-color: #dc3545;
        }
        .search-button:hover {
            transition: 1s;
            background-color: #333;
        }
    }
    // Comments
    #comments {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        color: #c1c0c0;
        font-size: 14px;
        padding-right: 25px;
        margin-bottom: 40px;
        .commentator {
            margin-left: 5px;
        }
        .comments-link {
            padding-right: 85px;
            color: #c1c0c0;
        }
        .comments-link:hover {
            text-decoration: none;
            color: #dc3545;
            transition: 0.5s;
        }
        .comment-line {
            color: #c1c0c0;
            margin-top: 10px;
            margin-bottom: 10px;
            border-top: dotted 1px;
        }
    }
    // Categories 2 (Selecting categorie)
    #selecting {
        margin-bottom: 40px;
        #select {
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            padding: 6px 12px;
            height: 40px;
            background-color: white;
            color: #555;
            font-size: 14px;
            width: 100%;
            border-radius: 4px;
            border: 1px solid #ccc;
            outline: 0px;
        }
    }
    // Tags
    #tags-topic {
        .tags {
            border-radius: 3px;
            font-size: 12px !important;
            color: #fff !important;
            background-color: #dadada;
            display: inline-block;
            font-size: 12px;
            padding: 3px 7px;
        }
        .tags:hover {
            transition: 0.3s;
            background-color: #dc3545;
            text-decoration: none;
        }
    }
}

// Media
@media only screen and (max-width: 575px) {
    .download-p,
    .download-button {
        text-align: center;
    }
}