@import url('theme.css');

// body
body {
    background-color: #F2F2F2;
}

// Navbar
.main-navbar {
    background-color: #363636;

    .navbar-brand {
        font-family: 'Jomolhari', serif;
        color: #F5F7FA;
    }

    .navbar-toggler {
        border-color: #ddd;
    }

    .nav-link {
        font-size: 0.8rem;
        color: #F5F7FA;
        text-indent: 12px;
    }

    .nav-link:hover {
        color: #DA4453;
        transition: 0.3s;
    }

    .dropdown-item {
        font-size: 13px;
        margin-top: 10px
    }

    .dropdown-item:hover {
        color: #DA4453;
        transition: 0.3s;
    }

    .dropdown-divide {
        border: 10px solid #F2F2F2;
    }
}

// Download Section
.download-main {
    background-color: white;

    .download-section {
        font-size: 1.3rem;
        color: red;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: white;

        .download-p {
            padding-left: 3%;
            padding-top: 1%;
        }
    }
}

// First-col
.first-col {
    margin-top: 3%;

    .first-img {
        width: 100%;
    }

    .first-img:hover {
        opacity: 0.8;
        transition: 0.5s;
    }

    .first {
        background-color: white;
        margin-bottom: 7%;

        .components {
            padding-left: 6%;
            padding-right: 8%;
            color: #6B6B6B;

            .main-p {
                padding-top: 3%;
                font-weight: bold;
                font-size: 180%;
                font-family: 'Nunito', sans-serif;
                line-height: 2rem;

                .main-a {
                    color: rgb(82, 81, 81);
                    text-decoration: none;
                }

                .main-a:hover {
                    color: #dc3545;
                    transition: 0.5s;
                }
            }

            .lorem {
                font-family: 'Jomolhari', serif;
            }

            .data {
                display: flex;
                flex-direction: row;
                font-family: 'Jomolhari', serif;
                font-size: 14px;
                text-indent: 4.65px;
            }

            .ad-component {
                font-size: 14px;
            }
        }

        .button {
            margin-right: 1px;
            margin-top: 10px;
        }

    }
}

// Second-col
.second-col{
    margin-top: 3%;
    padding: 30px;
    border: 1px solid #DADADA;
    background-color: white;
    .icons{
        
        .sub-icons{
            color: #C1C0C0;
            font-size: 45px;
            padding-right: 5px;;
        }
        #twitter:hover{
            color: #58bcf7;
        }
        #facebook:hover{
            color: #135c97;
        }
        #youtube:hover{
            color: #eb2525;
        }
        #google-plus:hover{
            color: #f10909;
        }
        #github:hover{
            color: #337ab7;
        }
    }
}