// Download Section
.download-main {
    background-color: white;

    .download-section {
        font-size: 1.3rem;
        color: red;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: white;

        .download-p {
            padding-left: 3%;
            padding-top: 1%;
        }
    }
}